.element-invisible {
  @include element-invisible;
}

.element-visible {
  @include element-visible;
}

.hide {
  display: none !important;
}

.no-margin {
  margin-bottom: 0;
}

.no-list-style {
  list-style: none;
}

.content {
  p,
  li,
  dd {
    // line-height: 1.25;
    // letter-spacing: -0.1em;
    // word-spacing: -0.9em;
    font-family: "Redacted";
    color: #BABAAE;
    > * {
      // word-spacing: 0;
      // letter-spacing: 0;
    }
  }
}
