// ==========
// PARAGRAPHS
// ==========

// Establishes baseline with Compass Vertical.
@include establish-baseline;
$grid-background-baseline-height: $base-line-height;

// Standardise site-wide typography styles here. Refer to _variables.scss to edit the variables used in the type-scale mixin.
body {
  @include responsive-text-size(base);
  font-family: $sans;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

small {
  @include responsive-text-size(deci);
}

pre,
code {
  @include responsive-text-size(deci);
}

code {
  background: #f5f2f0;
  padding: .1em;
  border-radius: .3em;
}

p {
  margin-bottom: rhythm(1);
}
